<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NDZ violations</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>NDZ violations</h1>
    <p>This page shows the pilot contact info for pilots who violated the No Drone Zone (NDZ) within the last 10 minutes.</p>
    <p>A drone is considered to be in violation of the NDZ if it is within 100 meters of the Monadikuikka nest.</p>
    <div class="table-wrapper">
        <table id="table">
            <tr>
                <th>Time (UTC)</th>
                <th>Distance (m)</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tbody id="tbody">
            <% violations.forEach(function(violation) { %>
                <tr>
                    <td><%= violation.detection_time %></td>
                    <td><%= violation.closest_distance %></td>
                    <td><%= violation.first_name %></td>
                    <td><%= violation.last_name %></td>
                    <td><a href="mailto:<%= violation.email %>"><%= violation.email %></a></td>
                    <td><a href="tel:<%= violation.phone_number %>"><%= violation.phone_number %></a></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
    <!-- These scripts are responsible for dynamically loading new violations -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
</body>
</html>